[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git

[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git@github.com:scrooloose/nerdcommenter.git

[submodule "bundle/command-t"]
	path = bundle/command-t
	url = https://git.wincent.com/command-t.git

[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git@github.com:scrooloose/syntastic.git

[submodule "bundle/sparkup"]
	path = bundle/sparkup
	url = git@github.com:tristen/vim-sparkup.git

[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = git@github.com:bling/vim-airline.git
